* {
  margin: 0;
}

body {
  background: linear-gradient(45deg, #ee82ee, #ffa500);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 16px;
}

/* 스크롤을 움직이는 영역 */
::-webkit-scrollbar-track {
  background: #ffd54a;
}

/* 스크롤 */
::-webkit-scrollbar-thumb {
  height: 30px;
  border-radius: 10px;
  background-color: #de9440;
  background-clip: padding-box;
  border: 4px solid transparent;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
