* {
  margin: 0;
}

body {
  /* background-image: url(/icons/Backgrount-ViceCity.jpg); */
  background: linear-gradient(45deg, #ee82ee, #ffa500);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.root {
  /* width,height 변경, viewport기준시 x-scoll 생김 */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: mintcream;
  margin-left: 14px;
}

/*랩탑 or 데스크탑*/
  /* Scroll style */

  /* 스크롤바 전체 영역 */
  ::-webkit-scrollbar {
    width: 16px;
  }

  /* 스크롤을 움직이는 영역 */
  ::-webkit-scrollbar-track {
    background: #ffa500;
  }

  /* 스크롤 */
  ::-webkit-scrollbar-thumb {
    height: 30px;
    border-radius: 10px;
    background-color: chocolate;
    background-clip: padding-box;
    border: 4px solid transparent;
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

