/* 스크롤시 아이콘 고정 수정 */
.iconArea {
  /* position: relative; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}
.iconArea img {
  position: absolute;
  animation: floating 1s linear infinite alternate;
  width: 70px;
  height: 70px;
}

@keyframes floating {
  0% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

/*랩탑 or 데스크탑*/
@media (min-width: 1025px) {
}

/*폰 세로화면*/
@media (max-device-width: 600px) and (max-device-height: 1000px) {
}

/*폰 가로화면*/
@media (max-device-width: 900px) and (max-device-height: 500px) {
}
