:root {
  --area-value: 1500px;
  --card-width: 150px;
  --card-height: 200px;
  --card-initialized-top: calc(
    (var(--area-value) / 2) - (var(--card-height) / 2)
  );
  --card-initialized-left: calc(
    (var(--area-value) / 2) - (var(--card-width) / 2)
  );
}

* {
  margin: 0;
}

body {
  overflow: hidden;
}
.root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, Violet, Orange);
  overflow: hidden;
}

.cardArea {
  position: absolute;
  top: -150px;
  left: -700px;
  margin: 0;
  width: var(--area-value);
  height: var(--area-value);
  border-radius: 50%;
  transition: 1000ms ease-out all;
  z-index: 100;
}

.card {
  position: absolute;
  top: var(--card-initialized-top);
  left: var(--card-initialized-left);
  width: var(--card-width);
  height: var(--card-height);
  background-color: blue;
  border-style: none;
  border-radius: 10%;
  box-shadow: 10px 5px 5px gray;
  transition: 200ms linear all;
}
.cardScale {
  scale: 1.1;
  cursor: pointer;
}
.iconArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}
.iconArea img {
  position: absolute;
  animation: floating 1s linear infinite alternate;
  width: 70px;
  height: 70px;
}

@keyframes floating {
  0% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
