#navigationBar {
  /* position: absolute; */
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 150;
}
/*클릭하기 전 내비게이션*/
.shortNav {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: solid #de9440 2px;
  border-radius: 50%;
  background-color: #ffd54a;
  justify-content: center;
  line-height: 50px;
  z-index: 160;
  transition: all 0.5s;
}

.shortNav img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

/*클릭 후 내비게이션*/
.longNav {
  position: relative;
  width: 210px;
  height: 54px;
  line-height: 55px;
  background-color: #ffd54a;
  border-radius: 27px;
  float: left;
  z-index: 150;
  transition: 1000ms linear all;
  overflow: hidden;
}

.longNav a {
  display: inline;
  text-decoration: none;
  color: rgb(204, 69, 37);
  margin-left: 20px;
}

.longNav a:hover {
  color: #c320f6;
}

.widen {
  animation: spread 1s;
}
.shorten {
  animation: short 1s;
}

.shortNav:hover {
  scale: 1.2;
}

#navigationBar:hover {
  cursor: pointer;
}

/*너비가 늘어나는 애니매이션*/
@keyframes spread {
  0% {
    width: 50px;
  }
  to {
    width: 210px;
  }
}

/*너비가 줄어드는 애니매이션*/
@keyframes short {
  0% {
    width: 210px;
  }
  to {
    width: 50px;
  }
}
