#cardDetail {
  position: absolute;
  top: 180px;
  right: 100px;
  width: 30vw;
  height: 60vh;
  z-index: 70;
  border-radius: 20px;
  background-color: aqua;
  animation: fadein ease-out 0.5s, scale ease-out 0.5s;
}

#detailClose {
  position: absolute;
  top: 5px;
  right: 5px;
}
#detailClose:hover {
  cursor: pointer;
}
@keyframes scale {
  0% {
    scale: 0.3;
  }
  to {
    scale: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
