/* 기본 스타일 제거 */
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 기본 데스크탑 카테고리 */
/* .categoryArea {
  display: flex;
  position: absolute;
  top: 180px;
  left: 50%;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  padding: 0 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(-50%);
  z-index: 70;
}

.category-item {
  width: 60px;
  height: 40px;
  margin: 0 10px;
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  background-color: chocolate;
  color: white;
  border: 1px solid transparent;
  border-radius: 10%;
  z-index: 70;
} */

.categoryArea {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 250px;
  background-color: #ffd54a;
  z-index: 250;
}

.category-item {
  margin: auto;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: #de9440;
  color: #ffd54a;
}

.category-item:hover {
  scale: 1.2;
  transition: all 0.35s;
  cursor: pointer;
}


/* 카테고리 버튼 영역*/
.categoryButton {
  /* display: none; */
  position: fixed;
  width: 45px;
  height: 45px;
  margin: 20px 0 0 20px;
  padding: 8px 15px 0px 15px;
  background-color: #ffd54a;
  border-radius: 15px;
  z-index: 250;
}

/* 카테고리 버튼 바 */
.hr {
  margin: 0;
  margin-bottom: 8px;
  border: none;
  width: auto;
  height: 7px;
  background-color: #de9440;
  border-radius: 5px;
}

.hr:nth-child(3) {
  height: 7.5px;
}

@media (max-width: 786px) {
  /* .categoryButton {
    display: block;
  } */

  .categoryArea {
    display: none;
  }

  .category-item {
    margin: auto;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #de9440;
  }
}
