/* 기본 스타일 제거 */
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* 기본 데스크탑 카테고리 */
.categoryArea {
  display: flex;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(-50%);
  z-index: 70;
}

.category-item {
  width: 60px;
  height: 40px;
  margin: 0 10px;
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  background-color: #ffd54a;
  color: white;
  border: 1px solid transparent;
  border-radius: 10%;
  z-index: 70;
}


.category-item:hover {
  scale: 1.2;
  transition: all 0.35s;
  cursor: pointer;
}


.hr {
  margin: 0;
  margin-bottom: 8px;
  border: none;
  width: auto;
  height: 7px;
  background-color: #de9440;
  border-radius: 5px;
}

.hr:nth-child(3) {
  height: 7.5px;
}

@media (max-width: 786px) {
  #categoryBtn {
    border: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: calc(30vw - 1.5px);
    width: 150px;
    height: 50px;
    background-color: #ffd54a;
    border-radius: 10px;
    z-index: 200;
  }

  .categoryArea {
    display: none;
    position: absolute;
    padding: 0;
    top: 70px;
    left: calc(30vw - 1.5px);
    width: 150px;
    height: 50px;
    background-color: #ffd54a;
    border-radius: 0px 0px 10px 10px;
    z-index: 80;
    animation: categoryDown 0.5s;
    overflow: hidden;
  }

  @keyframes categoryDown {
    from {
      height: 50px;
    }
    to {
      height: 200px;
    }
  }

  .category-item {
    margin: auto;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
  }
}
