/* 기본 스타일 제거 */
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryArea {
  display: flex;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  padding: 0 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%);
  z-index: 70;
}

.category-item {
  width: 60px;
  height: 40px;
  margin: 0 16px;
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  background-color: #ffd54a;
  color: white;
  border: 1px solid transparent;
  border-radius: 10%;
  z-index: 70;
}

.category-item:hover {
  scale: 1.2;
  transition: all 0.35s;
  cursor: pointer;
}

/* 카테고리 버튼 영역*/
#categoryBtn {
  display: none;
}

.hr {
  margin: 0;
  margin-bottom: 8px;
  border: none;
  width: auto;
  height: 7px;
  background-color: #de9440;
  border-radius: 5px;
}

.hr:nth-child(3) {
  height: 7.5px;
}

@media (max-width: 786px) {
  #categoryBtn {
    display: block;
    border: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 150px;
    height: 50px;
    background-color: #ffd54a;
    border-radius: 10px;
    z-index: 140;
    transform: translate(-50%);
  }

  .categoryArea {
    display: flex;
    position: absolute;
    padding: 0;
    top: 20px;
    left: 50%;
    width: 150px;
    height: 50px;
    background-color: #ffd54a;
    border-radius: 10px;
    z-index: 80;
    transition: all 0.5s;
    overflow: hidden;
    transform: translate(-50%);
  }

  .category-item {
    margin: auto;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
  }
}
