/* Card List Page */
a {
  display: none;
}

/* scroll up 버튼 */
#toTop {
  position: fixed;
  /* position: absolute; */
  bottom: 15px;
  right: 15px;
  z-index: 200;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#arrowUp {
  width: 50px;
  height: 50px;
}

#arrowUp:hover {
  cursor: pointer;
}

/* 리스트 카드 영역 */
#listCardArea {
  position: absolute;
  top: 200px;
  display: flex;
  width: auto;
  height: auto;
  margin: 100px 100px;
  padding: 0 80px;
  justify-content: space-around;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  z-index: 60;
}

.listCard {
  width: 250px;
  height: 350px;
  background-color: #ffd54a;
  margin: 28px;
  border-radius: 10%;
  transition: all 0.5s;
}

.listCard a {
  display: inline;
  text-decoration: none;
  color: #f57653;
  transition: all 0.5s;
}

.listCard:hover {
  cursor: pointer;
  animation: scaleAni 0.5s ease-in;
}

.listCard:hover a {
  /* color: rgba(255, 255, 255, 0.696); */
  color: #c320f6;
}

.listCard:hover div.hr {
  /* background-color: rgba(255, 255, 255, 0.696); */
  background-color: #c320f6;
}

@keyframes scaleAni {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* 리스트 카드 body 영역 */
.listCardBody {
  margin: 8px auto;
  width: 90%;
  height: 170px;
  padding: 0 10px;
  overflow-wrap: inherit;
}

.listCardBody div.hr {
  margin: 5px 0;
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #de9440;
  transition: all 0.5s;
}

.listCardBody span a {
  padding-left: 3px;
}

/*식당 사진*/
.resImg {
  width: 250px;
  height: 150px;
  border-radius: 10% 10% 0px 0px;
}

/*폰 세로화면*/
@media (max-width: 786px) {
  #listCardArea {
    position: absolute;
    margin: auto;
    top: 120px;
    left: 0px;
    display: flex;
    width: auto;
    height: auto;
    padding: 0 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 60;
  }

  .listCard {
    width: 280px;
    height: 400px;
    background-color: #ffd54a;
    margin: 28px;
    border-radius: 10%;
  }

  /* 카드 내부 영역 */
  .listCardBody {
    width: 90%;
    height: 150px;
    margin: 8px auto;
    padding: 4px 10px;
  }

  .listCardBody div.hr {
    margin: 5px 0;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #de9440;
  }

  /* 가게 이미지 영역*/
  .imgArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 200px;
    overflow: hidden;
  }

  .resImg {
    width: 100%;
    height: 200px;
    border-radius: 10% 10% 0px 0px;
  }
}
