/* Card List Page */

/* downArrow */
#downArrow {
  width: 100px;
  height: 100px;
  color: black;
  z-index: 100;
}

/*랩탑 or 데스크탑*/
@media (min-width: 1025px) {
  /* width, height 90v -> auto 수정, margin top 30 -> 100 수정, padding 추가 */
  #listCardArea {
    position: absolute;
    top: 200px;
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    z-index: 60;
  }

  /* card size, margin 수정 */
  .listCard {
    width: 250px;
    height: 320px;
    background-color: aqua;
    margin: 28px;
    /* margin: 28px auto; */
    border-radius: 10%;
  }
  .resImg {
    width: 250px;
    height: 150px;
    border-radius: 10% 10% 0px 0px;
  }
}

/*폰 세로화면*/
@media (max-width: 500px) and (max-height: 900px) {
  #listCardArea {
    position: absolute;
    top: 55px;
    left: 0px;
    display: flex;
    width: auto;
    height: auto;
    /*margin: 100px 100px;*/
    /*padding: 0 80px;*/
    justify-content: space-around;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    z-index: 60;
  }

  /* card size, margin 수정 */
  .listCard {
    width: 250px;
    height: 320px;
    background-color: aqua;
    margin: 28px;
    /* margin: 28px auto; */
    border-radius: 10%;
  }

  .resImg {
    width: 250px;
    height: 150px;
    border-radius: 10% 10% 0px 0px;
  }
}

/*폰 가로화면*/
@media (max-device-width: 900px) and (max-device-height: 500px) {
}
