/*랩탑 or 데스크탑*/

#messageArea {
  position: absolute;
  top: 45%;
  right: 300px;
  text-align: center;
  z-index: 101;
  margin: auto;
}
#message {
  font-size: 40px;
}

/*폰 세로화면*/
@media (max-width: 786px) {
  #messageArea {
    display: none;
  }
}
