#cardDetail {
  position: absolute;
  top: 120px;
  right: 150px;
  width: 28vw;
  height: 70vh;
  z-index: 70;
  border-radius: 20px;
  background-color: aqua;
  animation: fadein ease-out 0.5s, scale ease-out 0.5s;
}

#detailClose {
  position: absolute;
  top: 5px;
  right: 5px;
}
#detailClose:hover {
  cursor: pointer;
}
@keyframes scale {
  0% {
    scale: 0.3;
  }
  to {
    scale: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*랩탑 or 데스크탑*/
@media (min-width: 1025px) {
}

/*폰 세로화면*/
@media (max-device-width: 500px) and (max-device-height: 900px) {
}

/*폰 가로화면*/
@media (max-device-width: 900px) and (max-device-height: 500px) {
}
